.background-purple {
    background-image: linear-gradient(180deg,#ae38ea 10%,#6a529a 100%);
}

.navbar-brand {
    font-weight: 900;
}

a:hover {
    font-weight: 800;
    cursor: pointer;
}

.img-profile {
    max-width: 50px;
    max-height: 50px;
}

.linkmodal {
    color: #f8ffff;
    margin-left: 10px;
}